<h2><%= l(:label_inline_edit_selected_issues) %></h2>
<%= render 'edit_form'%>

<div id="field_original">
    <div id="field_original_value">#</div>
</div>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "/plugin_assets/redmine_inline_edit_issues/stylesheets/inline_edit_issues.css" %>
  <%= javascript_include_tag "/plugin_assets/redmine_inline_edit_issues/javascripts/inline_edit_issues.js" %>
<% end %>